.dropdown-menu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
}

.profileMenu{
    display: flex;
    flex-direction: column;
    width: 10%;
    position: fixed;
    right: 20px;
    top: 5px;
}


#profileImage{
    width: 30px;
    height: 30px;
}