.recipePage {
  text-align: center;
}


.stepBox{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-bottom: 5px;
    -webkit-border-radius: 10px;
    border: 1px grey solid ;
    border-radius: 10px;
}

.steps{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-height: 80%;
    overflow-y: scroll;
}


.stepDesc{
    margin-left: 3px;
}

.stepIndex{
    margin-left: 10px;
    margin-right: 20%;
}


.ingredientBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}

.ingredients{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 3px solid black;
    width: 50%;
    max-height: 80%;
    overflow-y: scroll;
    padding-bottom: 10px;
}


.stepsAndIngredients{
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    margin: auto;
}

.servingSize{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

#utensilsIcon{
    max-height: 20px;
    max-width: 20px;
}


